@use 'components/reset';
@use 'components/color';
@use 'components/var';
@use 'components/mixin';
@use 'components/class';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

* {
  margin: var.$no-margin;
  padding: var.$no-padding;
}

body {
  margin: var.$no-margin;
  padding: var.$no-padding;
  background-color: color.$black;
  font-family: var.$inter;
  color: color.$white;
  overflow-x: hidden;
  width: 100%;
}

// HEADER

.h-body {
  width: 100%;
  height: auto;
  @include mixin.flex(center, center);
  background-color: color.$black;

  .h-header {
    width: var.$def-w;
    height: auto;
    padding: 0px 10px;
    display: flex;
    align-items: center;

    .h-div-cont {
      @include mixin.flex(center, space-between);
      width: 100%;
      height: 70px;

      .logo-f {
        width: auto;
        padding: var.$p-al-hd;
        height: 30px;
        border-radius: 50px;
        @include mixin.flex(center, center);

        .logo-spn {
          @include mixin.flex(center, center);
          margin: 0;
          padding: 0;

          .logo-text {
            @include mixin.flex(center, center);
            margin: var.$no-margin;
            padding: var.$no-padding;
            font-size: 25px;
            font-weight: bold;
            a {
              text-decoration: none;
            }
            .h-logo-detail {
              color: color.$terciary;
            }
          }
        }
      }

      // Navigation Header
      .h-nav {
        width: auto;
        height: 100%;
        @include mixin.flex(center, center);
        .h-nav-list {
          @include mixin.flex(center, space-around);
          font-weight: 600;

          .h-nav-li-link {
            padding: 0px 2px;
            font-size: 17px;

            .h-nav-link {
              text-decoration: none;
              padding: 10px 20px;
              border-radius: 10px;
              transition: var.$transition-df;
              &:hover {
                color: color.$terciary;
              }
            }
            #id-login {
              background-color: color.$terciary;
              &:hover {
                opacity: var.$op-08;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  body {
    overflow-x: hidden;
  }
  .logo-text a {
    font-size: 20px;
  }
  .h-nav-li-link:nth-child(1),
  .h-nav-li-link:nth-child(3),
  .h-nav-li-link:nth-child(4) {
    display: none;
  }

  .h-header {
    width: 100vw;
  }
}

// Header Bottom Navigation

.h-nav-bottom {
  height: 50px;
  background-color: color.$secondary;

  .h-nav-bt-nav {
    height: 100%;
    max-width: var.$def-w;
    margin: var.$mar-a-x;

    .bt-nav-content {
      height: 100%;
      @include mixin.flex(center, space-between);
      transition: var.$transition-df;

      .bt-pad {
        padding: var.$p-al-hd;
      }

      .bt-nav-menu {
        font-size: 25px;
        width: 50px;
        cursor: pointer;
        transition: var.$transition-df;

        // &:hover {
        //   color: color.$terciary;
        // }

        .bt-menu-h {
          transition: all 0.5s ease;
        }
      }

      .bt-nav-search {
        width: 45%;
        height: 100%;
        padding: 0px;
        @include mixin.flex(center, center);
        transition: var.$transition-df;

        #h-search {
          width: 80%;
          height: 80%;
          border-radius: var.$br-left;
          padding: 5px 20px;
          font-size: 16px;
          background-color: color.$black;
          color: #fff;
          font-family: var.$inter;
          font-weight: bold;
        }

        #bt-h-search {
          width: 12%;
          height: 80%;
          cursor: pointer;
          background-color: color.$black;
          color: color.$white;
          border-radius: var.$br-right;
          font-size: 20px;
          transition: var.$transition-df;

          &:hover {
            color: color.$terciary;
          }
        }

        .df-search {
          outline: none;
          border: none;
        }
      }

      .bt-nav-cat {
        @include mixin.flex(center, flex-end);
        width: auto;
        text-decoration: none;
        border-radius: 25px;
        transition: var.$transition-df;
        &:hover {
          color: color.$lgray;
        }

        .h-nav-list-bt {
          @include mixin.flex(center, flex-end);

          li {
            .nav-bt-link {
              text-decoration: none;
              transition: var.$transition-df;
              font-size: 28px;
              border-radius: 10px;
              padding: 0px 15px;
              color: color.$terciary;
              &:hover {
                opacity: var.$op-08;
              }
            }
          }
        }
      }
    }
  }
}

// Menu Right Content

.display-menu {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  transition: var.$transition-df;
}
.menu-nav-right {
  min-height: 100%;
  background-color: #1a1a1a;
  .ex-menu-list-r {
    padding-top: 20px;
    width: 100%;

    .li-link-nav-right {
      width: 100%;

      .menu-li-link-a {
        @include mixin.flex(center, space-between);

        padding: 10px 20px;
        margin: 5px auto;
        text-decoration: none;
        font-weight: bolder;
        transition: var.$transition-df;
        border-radius: 5px;

        &:hover {
          transform: scale(101%);
          background: color.$terciary;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  body {
    width: 100vw;
    overflow-x: hidden;
  }
  .bt-nav-menu {
    font-size: 25px;
    width: 50px;
    cursor: pointer;
    transition: var.$transition-df;
    color: white;

    .bt-menu-h {
      transition: all 0.5s ease;
    }
  }
  .h-nav-bottom {
    height: 50px;

    .h-nav-bt-nav {
      height: 100%;

      .bt-nav-content {
        height: 100%;

        .bt-nav-search {
          width: 75%;
          margin-right: 10px;

          #bt-h-search {
            width: 20%;

            &:hover {
              color: color.$terciary;
            }
          }
        }
        .bt-nav-cat {
          display: none;
        }
      }
    }
  }
  .display-menu {
    position: absolute;
    top: 0;
    display: none;
  }
  .menu-nav-right {
    min-height: 100%;
    background-color: #1a1a1a;
    .ex-menu-list-r {
      padding-top: 0px;
      width: auto;

      .li-link-nav-right {
        width: auto;

        .menu-li-link-a {
          @include mixin.flex(center, space-between);
          border-bottom: 2px solid rgb(51, 51, 51);
          text-decoration: none;
          transition: var.$transition-df;
          border-radius: 5px;

          &:hover {
            transform: scale(101%);
            background: color.$terciary;
          }
        }
      }
    }
  }
}

.c-body {
  height: 1000px;
}
