@use 'components/reset';
@use 'components/color';
@use 'components/var';
@use 'components/mixin';
@use 'components/class';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');

* {
  margin: var.$no-margin;
  padding: var.$no-padding;
}

body {
  margin: var.$no-margin;
  padding: var.$no-padding;
  background-color: color.$gray;
  font-family: var.$inter;
  color: color.$white;
}

// HEADER

.h-body {
  width: 100%;
  height: 70px;
  @include mixin.flex(center, center);
  background-color: color.$black;

  .h-header {
    width: var.$def-w;
    height: 100%;
    padding: 0px 10px;
    display: flex;
    align-items: center;

    .h-div-cont {
      @include mixin.flex(center, space-between);
      width: 100%;

      .logo-f {
        width: auto;
        padding: 5px 15px;
        height: 30px;
        border-radius: 50px;
        background-image: linear-gradient(
          (
            10deg,
            color.$logo-color 0% 20%,
            transparent 22% 80%,
            color.$logo-color 82% 100%
          )
        );
        border: 1px solid color.$logo-color;
        @include mixin.flex(center, center);

        .logo-spn {
          @include mixin.flex(center, center);
          margin: 0;
          padding: 0;

          .logo-text {
            @include mixin.flex(center, center);
            margin: var.$no-margin;
            padding: var.$no-padding;
            font-size: 25px;
            font-weight: bold;
          }
        }
      }

      // Navigation Header
      .h-nav {
        width: auto;
        height: 100%;

        .h-nav-list {
          @include mixin.flex(center, space-around);
          font-weight: 600;

          .h-nav-li-link {
            padding: 0px 2px;
            font-size: 14px;

            .h-nav-link {
              text-decoration: none;
              padding: 10px 20px;
              border-radius: 25px;
              transition: var.$transition-df;
              &:hover {
                color: color.$indigo;
              }
            }
            #id-login {
              background-color: color.$lime;
              &:hover {
                opacity: 0.8;
              }
            }
          }
        }
      }
    }
  }
}
