@use 'components/reset';
@use 'components/color';
@use 'components/var';
@use 'components/mixin';
@use 'components/class';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');

* {
  margin: var.$no-margin;
  padding: var.$no-padding;
}

body {
  margin: var.$no-margin;
  padding: var.$no-padding;
  background-color: color.$black;
  font-family: var.$inter;
  color: color.$white;
}

// HEADER

.h-body {
  width: 100%;
  height: auto;
  @include mixin.flex(center, center);
  background-color: color.$black;

  .h-header {
    width: var.$def-w;
    height: auto;
    padding: 0px 10px;
    display: flex;
    align-items: center;

    .h-div-cont {
      @include mixin.flex(center, space-between);
      width: 100%;
      height: 70px;

      .logo-f {
        width: auto;
        padding: var.$p-al-hd;
        height: 30px;
        border-radius: 50px;
        @include mixin.flex(center, center);

        .logo-spn {
          @include mixin.flex(center, center);
          margin: 0;
          padding: 0;

          .logo-text {
            @include mixin.flex(center, center);
            margin: var.$no-margin;
            padding: var.$no-padding;
            font-size: 25px;
            font-weight: bold;
            a {
              text-decoration: none;
            }
            .h-logo-detail {
              color: color.$lime;
            }
          }
        }
      }

      // Navigation Header
      .h-nav {
        width: auto;
        height: 100%;
        @include mixin.flex(center, center);
        .h-nav-list {
          @include mixin.flex(center, space-around);
          font-weight: 600;

          .h-nav-li-link {
            padding: 0px 2px;
            font-size: 17px;

            .h-nav-link {
              text-decoration: none;
              padding: 10px 20px;
              border-radius: 10px;
              transition: var.$transition-df;
              &:hover {
                color: color.$lime;
              }
            }
            #id-login {
              background-color: color.$lime;
              &:hover::before {
                color: color.$lime;
              }
            }
          }
        }
      }
    }
  }
}

// Header Bottom Navigation

.h-nav-bottom {
  height: 50px;
  background-color: color.$secondary;

  .h-nav-bt-nav {
    height: 100%;
    max-width: var.$def-w;
    margin: var.$mar-a-x;

    .bt-nav-content {
      height: 100%;
      @include mixin.flex(center, space-between);

      .bt-pad {
        padding: var.$p-al-hd;
      }

      .bt-nav-menu {
        font-size: 25px;
        cursor: pointer;
        transition: var.$transition-df;

        &:hover {
          color: color.$lime;
        }
      }

      .bt-nav-search {
        width: 45%;
        height: 100%;
        padding: 0px;
        @include mixin.flex(center, center);
        transition: var.$transition-df;

        #h-search {
          width: 80%;
          height: 80%;
          border-radius: var.$br-left;
          padding: 5px 20px;
          font-size: 16px;
          background-color: color.$black;
          color: #fff;
          font-family: var.$inter;
          font-weight: bold;
        }

        #bt-h-search {
          width: 12%;
          height: 80%;
          cursor: pointer;
          border-radius: var.$br-right;
          font-size: 20px;
          transition: var.$transition-df;

          &:hover {
            background-color: color.$lime;
            color: #fff;
          }
        }

        .df-search {
          outline: none;
          border: none;
        }
      }

      .bt-nav-cat {
        @include mixin.flex(center, flex-end);
        width: auto;
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 25px;
        transition: var.$transition-df;
        &:hover {
          color: color.$lgray;
        }

        .h-nav-list-bt {
          @include mixin.flex(center, space-between);

          li {
            padding: 5px;
            a {
              font-size: 22px;
              transition: var.$transition-df;
              border-radius: 10px;
              padding: 8px 15px;
              &:hover {
                color: color.$lime;
              }
            }
          }
        }
      }
    }
  }
}
