$primary: #0000cd;
$secondary: #161616;
$black: #000;
$gray: #141414;
$gray-grad: linear-gradient(to top, $gray, $black);
$blue: #0000ad;
$indigo: #4b0082;
$lime: #228b22;
$white: #fff;
$lgray: #d4d4d4;
