.login-area-content
    position: absolute
    width: auto
    height: auto
    top: 0

    display: flex
    align-items: center
    justify-content: center

    z-index: 10

.mode-off
    top: -100%
    left: calc( 50% - 250px )

    transform: skewX(5deg) skewY(180deg) scale(0.1)

.mode-on
    position: fixed
    top: calc( 50% - 300px )
    left: calc( 50% - 250px )
    transform: scale(1)

.container-child-login
    min-width: 500px
    height: 600px
    background-color: white
    border-radius: 12px
