// Margins
$mar-auto: auto;
$mar-align-x: 0px auto;
$no-margin: 0px;

// Paddings
$pad-auto: auto;
$no-padding: 0px;

// Width
$def-w: 1170px;

// Fonts
$inter: 'Inter', sans-serif;

// Transitions
$transition-df: all 0.3s ease;
