// Margins
$mar-auto: auto;
$mar-a-x: 0px auto;
$no-margin: 0px;

// Paddings
$pad-auto: auto;
$no-padding: 0px;
$p-al-hd: 5px 15px;

// Border-Radius
$br-left: 50px 0px 0px 50px;
$br-right: 0px 50px 50px 0px;

// Width
$def-w: 1170px;

// Fonts
$inter: 'Inter', sans-serif;

// Transitions
$transition-df: all 0.4s ease;

// Opacity
$op-08: 0.7;
